html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    background-color: #ccc;
}

/* Scale canvas with resize attribute to full size */
.background{
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
}
canvas[resize] {
    width: 100%;
    height: 100%;
}
